[submodule "ducknet"]
	path = ducknet
	url = git@github.com:yoniaiz/ducknet.git
[submodule "ducknet-cms"]
	path = ducknet-cms
	url = git@github.com:yoniaiz/ducknet-cms.git
[submodule "ducknet-automation"]
	path = ducknet-automation
	url = git@github.com:yoniaiz/ducknet-automation.git
